.vscode/settings.json
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.class
*.vscode

/2022-2023/Term 1/Lab 1/.vscode
/2022-2023/Term 1/Lab 1/bin
/2022-2023/Term 2/Java/**/target

.DS_Store
